.hero-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    margin-top: 100px;
    @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        .cont-image{
            img{
                width: 100%;
            }
        }
    .cont{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .btn-group{
        button{
            padding: 10px 20px;
            // background-color: ;
            background: #02897A;
            border: 1px solid #02897A;
            border-radius: 5px;
            color: white;
        }
        a{
            // text-decoration: ;
            color: #02897A;
            margin-left: 20px;
        }
    }
}